.center {
    text-align: center;
}

.center-page {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 630px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}


.proName{
    font-size:13px;
    line-height:15px;
    font-family:sans-serif;
}

.proPrice {
    font-size: 13px;
    font-weight:600;
    line-height: 15px;
    font-family: sans-serif;
}

.proOgPrice {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    font-family: sans-serif;
    color:gray;
}


h5size{
    font-weight:600;
}

#btnCart{
    margin-right:6px;
}

.buyNowbtn{
    border-radius:3px;
    outline:0;
    margin-top:10px;
    margin-bottom:20px;
    font-size:13px;
    min-height:22px;
    padding:10px 15px;
    font-weight:500;
    background-color:#14cda8;
    color:#fff;
    border:1px solid #14cda8;
    width:100px;
}


